<ion-header>
  <ion-toolbar>
    <ion-title>form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding has-header">
  <div class="item" align="center">IDENTITAS</div>
    <div class="list">
       <label class="item item-input">
       <input type="text" placeholder="Nama Nama">
       </label>
       <br>

       <label class="item item-input">
       <input type="text" placeholder="NIM">
       </label>
       <br>

       <label class="item item-input">
       <input type="text" placeholder="Alamat">
       </label>
       <br>

       <label class="item item-input">
       <input type="text" placeholder="Tempat Lahir">
       </label>
       <br>

       <label class="item item-input">
       <input type="Date" placeholder="tagl/lahir">
       </label>        
    </div>
    
    <ion-button color="dark">Set</ion-button>
<ion-content>
